# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/

# Logs
*.log

# Testes
TestResults/

# Arquivos de publicação
publish/


# Arquivos grandes da BNAFAR
*.csv
*.zip

# JSONs de dados baixados
data/**/*.json

# =========================
# Angular / Node.js
# =========================
node_modules/
dist/
.angular/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*